@charset "UTF-8";
:focus {
  outline: none;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Noto Sans JP", serif;
  text-align: center;
  font-size: 4.3vw;
}
main {
  overflow: hidden;
}
#logo_loader {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 101;
    background-color: #333;
}
#logo_loader .f_logo {
    position: absolute;
    top: 150px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 60%;
    height: 30%;
}
#logo_loader .f_logo img {
    width: 100%;
    height: auto;
}
#logo_loader .f_logo:before {
    content: "";
    display: block;
    width: 100%;
    height: 110%;
    background-color: #333;
    position: absolute;
    top: 0;
    left: 100%;
    animation: loadLogo 1.5s;
}
@keyframes loadLogo {
  0% {
    left: 0;
  }
  50% {
    left: 0;
  }
  100% {
    left: 100%;
  }
}
#logo_loader .f_logo:before {
    animation: loadLogo 1.5s;
}
#logo_loader.open {
    animation-name: slideOut;
    animation-fill-mode: forwards;
    animation-duration: 2s;
    animation-delay: 2s;
    animation-timing-function: ease-in-out;
}
@keyframes slideOut {
  0% {
    transform: translateY(0); /* 初期位置 */
    opacity: 1; /* 完全に表示 */
  }
  100% {
    transform: translateY(-100%); /* 完全に上に移動 */
    opacity: 0; /* 完全に透明 */
  }
}





/* Header */
header {
  display: flex;
  align-items: center;
  /* height: 160vw; */
  background-color: #fff;
  position: relative;
  overflow: hidden;
}
video {
  width: 50vw;
}
h1 {
  padding: 16vw 0 0;
  line-height: 1;
  font-size: 28vw;
  font-family: "Josefin Sans", serif;
  font-weight: 600;
  overflow-wrap: anywhere;
}
span {
  transition: .5s
}
span:hover {
  color: #9f6611;
}
h2 {
  font-size: 5.3vw;
  font-family: "Josefin Sans", serif;
}
.striped {
  display: inline-block;  /* インラインブロックにしてアニメーションを適用 */
  background-color: black;  /* 初期状態を黒 */
  color: transparent;  /* 文字の色を透明に */
  -webkit-background-clip: text;  /* 文字に背景をクリップ */
  animation: striped 3s ease infinite;  /* 3秒周期で繰り返しアニメーション */
}

.striped:nth-child(2) {
  animation-delay: 0.2s;  /* 少し遅れてアニメーションを開始 */
}

.striped:nth-child(4) {
  animation-delay: 0.4s;
}

.striped:nth-child(6) {
  animation-delay: 0.6s;
}

@keyframes striped {
  0% {
    background-color: black;  /* 初期状態（黒） */
  }
  25% {
    background: linear-gradient(45deg, black 25%, white 25%, white 50%, black 50%, black 75%, white 75%, white 100%);
    background-size: 10px 10px; /* しましま模様のサイズ */
    -webkit-background-clip: text; /* 文字に背景をクリップ */
  }
  50% {
    background-color: black;  /* 半分の時間が経過したら黒に戻る */
  }
  75% {
    background: linear-gradient(45deg, black 25%, white 25%, white 50%, black 50%, black 75%, white 75%, white 100%);
    background-size: 10px 10px; /* しましま模様 */
    -webkit-background-clip: text;
  }
  100% {
    background-color: black;  /* 最後に黒に戻る */
  }
}
h3 {
  font-family: "Josefin Sans", serif;
  overflow-wrap: anywhere;
}
.top_name {
  text-align: left;
  position: absolute;
  top: 20px;
  left: 20px;
}

 /* ハンバーガーメニュー //////////////////////////*/

       /* Drawer Menu */
       /* ↓チェックボックスが OFF の場合 */
       /* nav 要素 画面上部に固定表示 */
       @media screen and (max-width:767px) {

        .gMenu {
          /* 右上に固定・前面表示 */
          position: fixed;
          top: 0;
          right: 0;
          z-index: 99;
          width: 100%;
        }

        /* input 要素 チェックボックスを非表示 */
        .menu-btn {
          display: none;
        }

        /* label 要素 アイコン作成 */
        .menu-icon {
          /* 右上に絶対配置 */
          position: absolute;
          right: 20px;
          top: 32px;
          height: 12px;
          padding-top: 5px;
          /* ポインターの形状 指 */
          cursor: pointer;
        }

        /* span 要素 中央の線作成 */
        .nav_icon {
          /* ブロックレベルへ変更 */
          display: block;
          /* 線の長さ */
          width: 31px;
          /* 線の太さ */
          height: 1px;
          /* 線の色 */
          background: #000;
          /* ::before と ::after の基準要素 */
          position: relative;
          z-index: 10;
        }

        /* 上と下の線作成 上下共通 */
        .nav_icon::before,
        .nav_icon::after {
          content: "";
          width: 100%;
          height: 100%;
          background: #000;
          /* 基準要素 span.nav_icon に対して絶対配置 */
          position: absolute;
          /* 三本線と X の切替えアニメーション 速く始まりゆっくり終わる */
          transition: all .4s ease-out;
        }

        /* 下の線のみ */
        .nav_icon::before {
          /* 上からの位置 */
          top: 12px;
          right: 0px;
        }

        /* 上の線のみ */
        .nav_icon::after {
          /* 上へ 10px の位置 */
          top: -12px;
          right: 0px;
        }

        /* ul 要素 メニュー */
        .menu_box {
          height: 177.86vh;
          background-color: rgba(0, 0, 0, 0.7);
          color: #fff;
          text-align: left;
          /* 非表示 */
          overflow: hidden;
          /* 最大の高さ */
          max-width: 0;
          /* 非表示の際のアニメーション */
          transition: max-width 0.8s;
          position: absolute;
          top: 0;
          right: 0;
        }

        /* a 要素 */
        .menu {
          margin: 100px 0px;
          font-family: "Josefin Sans", serif;
          overflow: hidden;
        }

        .menu a {
          display: block;
          padding: 8vw;
          text-decoration: underline;
          font-size: 5.3vw;
          white-space: nowrap;
          text-underline-offset: 0.2em;
          text-decoration-thickness: 1px;
          /* すべて大文字表示 */
          text-transform: uppercase;
        }

        .menu a:hover {
          background-color: #f4f4f4;
          color: #000;
        }

        /* ↓チェックボックスが ON の場合 */
        /* 非表示にしていた ul.menu を表示 */
        .menu-btn:checked~.menu_box {
          max-width: 60vw;
          padding-bottom: 55.6vw;
          /* 元 0px */
          /* 表示の際のアニメーション */
          transition: max-width 0.8s;
        }

        /* 中央の線を非表示 */
        .menu-btn:checked~.menu-icon .nav_icon {
          background: transparent;
          /* 元 #333 */
        }

        /* 上下の線を 45 度傾けて X アイコンを作成 */
        .menu-btn:checked~.menu-icon .nav_icon::before {
          /* 反時計回りに回転 */
          transform: rotate(-45deg);
          top: 0;
          background: #fff;
          /* 元 10px */
        }

        .menu-btn:checked~.menu-icon .nav_icon::after {
          /* 時計回りに回転 */
          transform: rotate(45deg);
          top: 0;
          background: #fff;
          /* 元 -10px */
        }
      }

      /* ////////////////////////////////////////////// */

      /* About */
      #about::after {
        content: "";
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: url(../image/paint.jpg) no-repeat center/cover;
        z-index: -1;
      }
      h3 {
        text-align: center;
        margin: 16vw 0 0;
        font-size: 29.3vw;
      }
      .about_title,
      .ability_title,
      .programming_title,
      .accessories_title,
      .design_title {
        opacity: 0;
      }
      .left {
        animation-name: slideOutRightToLeft;
        animation-fill-mode: forwards;
        animation-duration: 2s;
        animation-delay: 1s;
        animation-timing-function: ease-out;
      }
      @keyframes slideOutRightToLeft {
      0% {
        transform: translateX(100%); /* 初期位置：画面の右端 */
        opacity: 1; /* 完全に表示 */
      }
      100% {
      transform: translateX(0%); /* 画面の左端へ移動 */
      opacity: 1; /* 完全に透明 */
      }
     }
     @keyframes slideOutRightToRight{
      0% {
      transform: translateX(-100%); /* 初期位置：画面の右端 */
      opacity: 1; /* 完全に表示 */
      }
     100% {
      transform: translateX(0%); /* 画面の左端へ移動 */
      opacity: 1; /* 完全に透明 */
      }
      }
      .about_inner {
        opacity: 0;
        transform: translateY(30px); /* 下に少し移動 */
        transition: opacity 1s ease-out, transform 1s ease-out;
        padding: 8vw;
      }
      .about_inner.visible {
        opacity: 1;
        transform: translateY(0); /* 元の位置に戻る */
    }
      .my_photo {
        width: 100%;;
        border-radius: 50%;
      }
      .name {
        font-size: 5.3vw;
        margin: 10vw 0;
        text-align-last: left;
       }
       span {
        font-family: "Josefin Sans", serif;
        margin-left: 8px;
       }
       .about_text {
        margin: 8vw 0;
        text-align: left;
        line-height: 1.8;
       }
       .arrow {
        position: relative;
        display: inline-block;
        width: 26.6vw;
        height: 1px;
        margin-top: 4.5vw;
        background-color: #000000;
       }
      .arrow::before {
        content: "";
        position: absolute;
        top: calc(50% - 0.5px);
        right: 0;
        width: 6.6vw;
        height: 1px;
        background-color: #000000;
        transform: rotate(45deg);
        transform-origin: calc(100% - 0.5px) 50%;
      }
      .arrow_box {
        display: flex;
        justify-content: end;
        transition: transform 0.3s ease;
      }
      .arrow_box:hover {
        transform: translateX(10px);
      }
      .more {
        display: block;
        margin-left: 7%;
        font-family: "Josefin Sans", serif;
        font-size: 6vw;
      }
      .more:hover {
        font-family: "Bad Script", cursive;
        font-weight: bold;
        letter-spacing: .05em;
      }

      /* Ability */
      #ability {
        padding-bottom: 30px;
        /* background-color: #fff; */
      }
      .right {
        transform: translateX(0); /* 元の位置に戻す */
        animation-name: slideOutRightToRight;
        animation-fill-mode: forwards;
        animation-duration: 2s;
        animation-delay: 1s;
        animation-timing-function: ease-out;
      }
      .skill_title {
        font-size: 6.6vw;
        margin: 8vw 0;
      }
      .skill_list {
        opacity: 0;
        transform: translateY(30px); /* 下に少し移動 */
        transition: opacity 1s ease-out, transform 1s ease-out;
        padding: 8vw;        padding: 0 8vw;
      }
      .skill_list.visible {
        opacity: 1;
        transform: translateY(0); /* 元の位置に戻る */
    }
      .icon1 {
        height: 30vw;
      }
      .icon2 {
        height: 34.6vw;
      }
      .icon3 {
        width: 30vw;
      }
      .skill_text {
        margin: 15vw 0;
        text-align: left;
        line-height: 1.8;
      }
      .skill_text3 {
        /* word-break: keep-all; */
        overflow-wrap: break-word;
      }

      /* Programming accessories design 共通  */
      .grid1 {
        opacity: 0;
        transform: translateY(30px); /* 下に少し移動 */
        transition: opacity 1s ease-out, transform 1s ease-out;
        padding: 8vw;
      }
      .grid1.visible {
        opacity: 1;
        transform: translateY(0); /* 元の位置に戻る */
      }
      .flex {
        opacity: 0;
        transform: translateY(30px); /* 下に少し移動 */
        transition: opacity 1s ease-out, transform 1s ease-out;
        padding: 8vw;
      }
      .flex.visible {
        opacity: 1;
        transform: translateY(0); /* 元の位置に戻る */
      }
      .grid2 {
        opacity: 0;
        transform: translateY(30px); /* 下に少し移動 */
        transition: opacity 1s ease-out, transform 1s ease-out;
        padding: 8vw;
      }
      .grid2.visible {
        opacity: 1;
        transform: translateY(0); /* 元の位置に戻る */
}

      .image_box1,
      .image_box2,
      .image_box3 {
        display: block;
        width: 82.6vw;
        margin: 0 auto;
        position: relative;
      }
      .image1,
      .image2,
      .image3 {
        width: 100%;
      }
      .square1,
      .square2,
      .square3 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 24vw;
        height: 24vw;
        font-family: "Josefin Sans", serif;
        border: 1px solid #000;
        position: absolute;
        z-index: 10;
        top: -4vw;
        left: -4vw;
      }
      .pick_up {
        margin-top: 3.2vw;
        font-size: 4.2vw;
      }
      .number {
        font-size: 6.6vw;
        margin-top: 2vw;
      }
      .small_title {
        margin: 5.3vw 0;
        font-size: 6.6vw;
        font-family: "Josefin Sans", serif;
      }
      .writings1,
      .writings2,
      .writings3 {
        margin-bottom: 5.3vw;
        padding: 0 8vw;
        text-align: left;
      }
      .writings3 {
        margin-bottom: 15vw;
      }
      .common_text {
        margin-bottom: 10vw;
        text-align: left;
        line-height: 1.8;
      }
      .top_arrow_box {
        display: flex;
        justify-content: end;
        padding: 0 2.6vw;
      }
      .top_arrow {
        position: relative;
        position: fixed;
        display: block;
        width: 10vw;
        height: 10vw;
        bottom: 90vw;
        right: 15px;
        margin-top: 20px;
        background-color: #000;
        border-radius: 50%;
        transition: .5s;
        opacity: 0;
        z-index: -1;
      }
      .top_arrow::after {
        content: "";
        position: absolute;
        width: 4vw;
        height: 4vw;
        top: 39%;
        left: 30%;
        border-top: 3px solid #fff;
        border-left: 3px solid #fff;
        transform: rotate(45deg);
      }
      .top_arrow:hover {
        background-color: #808080;
      }

      /* Footer */

      footer {
        margin: 5.3vw 0 10vw;
        font-family: "Josefin Sans", serif;
        background-color: #FFF;
      }
      footer h2 {
        padding: 5.3vw;
        text-align-last: left;
        font-size: 6.6vw;
      }
      .item {
        display: block;
        margin: 2.6vw 5.3vw;
        text-align-last: left;
        font-size: 5.3vw;
      }
      .footer_list a:hover {
        font-family: "Bad Script", cursive;
        font-weight: bold;
        letter-spacing: .05em;
      }
      .instaglam {
        width: 4.5vw;
        margin-right: 3vw;
        padding-bottom: 0.5vw;
      }
      .instaglam_box {
        width: 48vw;
        margin: 8vw auto 3vw;
        border-left: 1px solid;
        border-right: 1px solid;
      }
      .contact {
        padding: 0 2.6vw 2.6vw;
      }
      .contact:hover {
        font-family: "Bad Script", cursive;
        font-weight: bold;
        letter-spacing: .05em;
      }

      /* モーダル1 */

      #dialog1 {
        width: 100%;
        padding: 4vw;
        background-color: #D9D9D9;
        border-radius: 10px;
      }
      .close_box {
        display: flex;
        justify-content: end;
        width: 100%;
        height: 100%;
        margin-bottom: 13vw;
      }
      .close1 {
        width: 10vw;
      }
      .skill {
        position: absolute;
        width: 20vw;
        margin-bottom: 30px;
        top: 8vw;
        left: 6vw;
      }
      .icon_slider {
        width: 70vw;
        margin: 0 auto;
      }
      .d_icon1,
      .d_icon2,
      .d_icon3,
      .d_icon4,
      .d_icon5,
      .d_icon6 {
        width: 68vw;
        height: 75vw;
        background-color: #fff;
        display: none;
        opacity: 0;
      }
      .active {
        display: block;
        opacity: 1;
      }
      .skill_icon {
        /* width: 19vw; */
        height: 23vw;
        margin: 5vw 0 0;
      }
      .dialog_text {
        display: block;
        width: 49vw;
        margin: 0 auto;
        padding:5vw 0;
        text-align: left;
        line-height: 1.8;
        font-size: 4vw;
      }
      .point_box {
        display: flex;
        justify-content: space-between;
        margin: 2.4vw 0 0;
        padding: 6vw 10vw 8vw; 
      }
      .point {
        display: block;
        width: 5.3vw;
        height: 5.3vw;
        background-color: #838282;
        border-radius: 50%;
      }
      .break {
        display: none;
      }
      .black {
        background-color: #000;
       }

       /* モーダル2 */
       #dialog2 {
        width: 100%;
        padding: 2vw;
        background-color: #D9D9D9;
        border-radius: 10px;
       }
       .close2 {
        width: 10vw;
       }
       .page_box1,
       .page_box2 {
        position: relative;
       }
       .page_box2 {
        margin-top: 9vw;
       }
       .page1,
       .page2 {
        width: 80%;
        /* filter: blur(2px); */
        overflow:hidden;
        z-index: -1;
       }
       .page1:hover {
        transform:scale(1.03,1.03);
        transition:1s all;
       }
       .page2:hover {
        transform:scale(1.03,1.03);
        transition:1s all;
       }
       .click1,
       .click2,
       .click3 {
        position: absolute;
        width: 23.5vw;
        height: 19vw;
        background: url(../image/click.png) no-repeat center/cover;
        top: -6vw;
        left: 2.4vw;
        z-index: 10;
       }
       .click1:hover {
        background: url(../image/click_after.png) no-repeat center/cover;
       }
       .click2:hover {
        background: url(../image/click_after.png) no-repeat center/cover;
       }
       .click3:hover {
        background: url(../image/click_after.png) no-repeat center/cover;
       }
       .page_title {
        margin: 5.3vw 0;
        font-family: "Josefin Sans", serif;
        font-size: 6.6vw;
       }
       .page_text {
        width: 55vw;
        margin: 0 auto;
        padding: 5.3vw 0;
        text-align: left;
        border-top: 1px solid #000;
        line-height: 1.8;
       }
       .line_break {
        display: none;
       }
       .githab,
       .githab1 {
        position: relative;
        display: inline-block;
        margin-bottom: 50px;
        padding: 1.5vw 2.5vw;
        background-color: #D9D9D9;
        border: 1px solid #333;
        border-radius: 5px;
       }
       .githab::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 4px;
        left: 3px;
        background-color: #333;
        border-radius: 5px;
        z-index: -3;
       }
       .githab1::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 4px;
        left: 3px;
        background-color: #333;
        border-radius: 5px;
        z-index: -3;
       }
       .githab:hover {
        background-color: #bebebe;
        border: none;
       }
       .githab1:hover {
        background-color: #bebebe;
        border: none;
       }
       .githab:hover::after {
        top: 0;
        left: 0;
        transition-duration: 200ms;
       }
       .githab1:hover::after {
        top: 0;
        left: 0;
        transition-duration: 200ms;
       }

       /* モーダル3 */
        dialog {
        width: 100%;
        margin: 0 auto;
        position: relative;
        background-color: #D9D9D9;
        border-radius: 10px;
        }
        .click3,
        .click4,
        .click5 {
          top: 9vw;
          left: 3vw;
        }
        .close3 {
          position: absolute;
          top: 3vw;
          right: 3vw;
          width: 10vw;
        }
        .dialog3_inner {
          display: flex;
          overflow: hidden;
          width: 100%;
          padding-top: 13vw;
        }
        .dialog3_inner li {
          min-width: 100%; /* 横幅を100%に設定 */
          display: none; /* 初期状態で非表示 */
        }
       .dialog3_inner li.active {
        display: block; /* activeクラスが付与されたliを表示 */
      }
       .main_images1 {
        width: 80%;
       }
       .main_images1:hover {
        transform:scale(1.03,1.03);
        transition:1s all;
       }
       .dialog3_text {
        display: block;
        width: 80%;
        margin: 0 auto;
        padding: 6vw 0;
        text-align: left;
        font-size: 4.8vw;
        line-height: 1.8;
       }
      /* ボタンエリア */
       .button-prev {
        width: 5.3vw;
        height: 5.3vw;
        border-top: 2px solid;
        border-left: 2px solid;
        position: absolute;
        top: 50%;
        transform: rotate(-45deg);
        cursor: pointer;
       }
       .button-next {
        width: 5.3vw;
        height: 5.3vw;
        border-top: 2px solid;
        border-right: 2px solid;
        position: absolute;
        top: 50%;
        transform: rotate(45deg);
        transform: rotate(45deg);
        cursor: pointer;
       }

      .button-prev {
       left: 10px;
       }

       .button-next {
        right: 10px;
       }

       /* モーダル4 */
       .wrapper {
        position: relative;
        width: 100%;
        height: min(150vw,800px);
        margin: 0 auto;
        overflow: hidden visible; /* スライダーの外の部分を隠す */
        padding: 3vw 3vw 8vw;
        background-color: #D9D9D9;
        border-radius: 10px;
      }
      /* 開いた所でモーダルが開く設定 */
      .wrapper,
      #dialog1,
      #dialog2,
      #dialog3 {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); /* 中央に配置 */
        z-index: 1000; /* 他の要素より前面に表示 */
      }
      .close_box4 {
        display: flex;
        justify-content: end;
        width: 100%;
        margin-bottom: 20vw;
      }
      .close4 {
        width: 10vw;
      }
      .product {
        position: absolute;
        width: 30vw;
        top: 30px;
        left: 30px;
      }
      .swiper-container {
        width: 100%;
        max-width: 600px; /* 必要に応じて調整 */
        margin: auto;
      }
      .photo {
        width: 100%;
        padding: 3vw 0 0;
      }
      .swiper-slide {
        width: 80%;
        max-width: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .swiper_item {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        font-size: 24px;
        font-weight: bold;
        background: #fff;
        border-radius: 30px;
      }
      .swiper_item img {
        width: 100%; /* 画像をスライドの幅に合わせる */
        max-width: 300px; /* 最大幅を設定 */
        height: auto; /* 縦横比を保持 */
      }
      .swiper_item p {
        margin: 5vw 0; /* 画像とテキストの間隔 */
        font-family: "Josefin Sans", serif;
        font-size: 30px;
        font-weight: normal;
        color: #333;
      }
      .swiper-button-prev,
      .swiper-button-next {
        color: #fff;
      }
      .swiper-pagination-bullet-active {
        background: black !important; /* アクティブなドットも黒 */
      }
      .swiper-pagination.swiper-pagination-bullets.swiper-pagination-horizontal {
        bottom: -20px; /* 画像との間隔を増やす */
      }


      /* レスポンシブPC */
      @media screen and (min-width:768px) {
        body {
          font-size: min(1.6vw, 20px);
        }
        #logo_loader .f_logo {
          width: 35%;
        }
        header {
          height: min(66vw, 800px);
        }
        .header_inner {
          max-width: 1200px;
          margin: 0 auto;
        }
        #menu-btn {
          display: none;
        }
        .menu {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 25.3%;
          color: #000;
        }
        .menu a {
          font-size: clamp(1.25rem, 2vw, 1.5rem);
        }
        .menu a:hover {
          font-family: "Bad Script", cursive;
          font-weight: bold;
          letter-spacing: .05em;
        }
        .menu_box {
          display: flex;
          justify-content: space-between;
          position: absolute;
          max-width: 1200px;
          margin: 0 auto;
          top: 20px;
          right: 1%;
        }
        .menu_inner {
          display: flex;
          justify-content: end;
          margin: 0 auto;
        }
        .menu li {
          margin-right: 30px;
          font-size: min(2.5vw, 30px);
        }
        h1 {
          margin-top: 120px;
          padding: initial;
          font-size: min(16.6vw, 200px);
        }
        h2 {
          font-size: min(3.3vw, 40px);
        }
        header h2:hover {
          color: #fff;
          font-size: 1vw;
          /* font-family: "Bad Script", cursive;
          font-weight: bold; */
        }
        header h2:hover::after {
          content: "HELLO WORLD !";
          color: #000;
          font-size: min(3.3vw, 40px);
        }
        /* About */
        h3 {
          margin: initial;
          text-align: left;
          font-size: min(16.6vw, 200px);
          overflow-wrap: initial;
        }
        .left {
          animation-duration: 4s;
        }
        .right {
          animation-duration: 4s;
        }
        .about_inner {
          display: flex;
          justify-content: space-between;
          max-width: 1200px;
          margin: 0 auto;
          padding: 0 min(5vw, 60px) min(5vw, 60px);
        }
        .my_photo {
          width: min(33.3vw, 400px);
        }
        .name {
          margin: min(1.6vw, 20px) 0;
          font-size: min(2.5vw, 30px);
        }
        .about_box {
          width: min(50vw,600px);
        }
        .about_text {
          margin: min(2.5vw, 30px) 0;
        }
        .more {
          font-size: min(3.3vw, 40px);
        }
        .arrow {
          width: min(12.5vw, 150px);
          margin-top: min(2.5vw, 30px);
        }
        .arrow::before {
          width: min(3.3vw, 40px);
        }
        /* Ability */
        #ability h3 {
          text-align: right;
        }
        .skill_list {
          display: flex;
          justify-content: space-between;
          max-width: 1200px;
          margin: 0 auto;
          padding: 0 min(5vw, 60px);
        }
        .list1,
        .list2 {
          width: min(25vw, 300px);
        }
        .skill_title {
          margin: 10px 0 40px;
          font-size: min(2.5vw, 30px);
        }
        .icon {
          height: 190px;
        }
        .icon1 {
          width: min(10.8vw, 130px);
          height: initial;
        }
        .icon2 {
          width: min(10vw, 120px);
          height: initial;
        }
        .icon3 {
          width: min(16.6vw, 200px);
          height: initial;
          padding-top: min(1.6vw, 20px);
        }
        .skill_text {
          margin: 50px 0 0;
        }

        /* Programming */
        .image_box1,
        .image_box2,
        .image_box3 {
          width: min(50vw, 600px);
          margin: initial;
        }
        .image1,
        .image2,
        .image3{
          width: min(50vw, 600px);
        }
        .square1,
        .square2,
        .square3 {
          width: min(10.8vw, 130px);
          height: min(10.8vw, 130px);
          top: -25px;
          left: -25px;
        }
        .pick_up {
          margin-top: 25px;
          font-size: min(2.0vw, 25px);
        }
        .number {
          margin: initial;
          margin-top: 5px;
          font-size: min(4.16vw, 50px);
        }
        .grid1,
        .grid2 {
          display: grid;
          grid-template-rows: min(28vw, 337px);
          grid-template-columns: 40% 60%;
          max-width: 1200px;
          margin: 0 auto 60px;
          padding: 0 min(5vw, 60px);
        }
        .grid2 {
          padding-bottom: 50px;
        }
        .image_box1 {
          grid-row: 1 / 2;
          grid-column: 2 / 3;
          margin: 0 0 0 auto;
        }
        .writings1 {
          grid-row: 1 / 2;
          grid-column: 1 / 2;
          padding: initial;
        }
        .writings1,
        .writings2,
        .writings3 {
          width: min(33vw, 400px);
          margin: initial;
        }
        .small_title {
          margin: 0 0 min(1.6vw, 20px);
          font-size: min(3.3vw, 40px);
        }
        .common_text{
          margin-bottom: min(1.5vw, 18px);
        }
        .arrow_box {
          justify-content: start;
        }
        .top_arrow {
          bottom: min(39vw, 470px);
        }

        /* Accessories */
        #accessories h3 {
          text-align: right;
        }
        .flex {
          display: flex;
          justify-content: space-between;
          max-width: 1200px;
          margin: 0 auto 60px;
          padding: 0 min(5vw, 60px);
        }
        .writings2 {
          padding: initial;
        }
        .text2 {
          margin: min(3vw, 37px) 0;
        }
        .image_box3 {
          grid-row: 1 / 2;
          grid-column: 2 / 3;
          margin: 0 0 0 auto;
        }
        .writings3 {
          grid-row: 1 / 2;
          grid-column: 1 / 2;
          padding: initial;
        }
        .text3 {
          margin: min(3vw, 37px) 0;
        }
        .top_arrow_box {
          margin: 40px 0;
        }
        .top_arrow {
          width: min(5.8vw, 70px);
          height: min(5.8vw, 70px);
        }
        .top_arrow::after {
          width: min(2.1vw, 25px);
          height: min(2.1vw, 25px);
          left: 33%;
        }

        /* Footer */
        footer {
          margin: initial;
          margin-bottom: 4.5vw;
        }
        .footer_inner {
          max-width: 1200px;
          margin: 0 auto;
        }
        footer h2 {
          font-size: min(4.1vw, 50px);
          padding: min(5.8vw, 70px) min(5.8vw, 70px) 0;
        }
        footer h2:hover {
          color: #fff;
          font-size: min(2.5vw, 30px);
        }
        footer h2:hover::after {
          content: "Thanks! Please check it on a smartphone size as well.";
          font-size: min(2.5vw, 30px);
          color: #000;
        }
        .item{
          margin: min(1.6vw, 20px) 0;
          font-size: min(2.5vw, 30px);
        }
        .footer_box {
          display: flex;
          justify-content: space-between;
          align-items: end;
          padding: 0 min(5.8vw, 70px) min(3.3vw, 40px);
        }
        .instaglam_box {
          width: min(25vw, 300px);
          margin: initial;
          margin-bottom: min(1.6vw, 20px);
          font-size: min(2vw, 25px);
        }
        .instaglam {
          width: min(2.5vw, 30px);
          margin-right: 20px;
          padding-bottom: 5px;
        }
        .contact {
          padding: initial;
          font-size: min(2vw, 25px);
        }

        /* モーダル1 */
        #dialog1 {
          height: min(66.6vw, 800px);
          padding: min(1.6vw, 20px);
        }
        .icon_slider {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          width: min(80vw,950px);
        }
        .close_box {
          margin-bottom: initial;
          height: min(5vw, 60px);
        }
        .close1,
        .close2 {
          width: min(4.1vw, 50px);
          height: min(4.1vw, 50px);
        }
        .skill {
          position: absolute;
          width: min(12.5vw, 150px);
          margin-bottom: 30px;
          top: 3vw;
          left: 3vw;
        }
        .d_icon1,
        .d_icon2,
        .d_icon3 {
          margin-bottom: min(2.5vw, 30px);
        }
        .d_icon1,
        .d_icon2,
        .d_icon3,
        .d_icon4,
        .d_icon5,
        .d_icon6 {
          display: block;
          width: min(25vw, 290px);
          height: min(25vw, 290px);
          opacity: 1;
        }
        .skill_icon {
          height: min(8.3vw, 100px);
          margin-top: min(2.1vw, 25px);
        }
        .skill3 {
          height: min(8.75vw, 105px);
        }
        .skill4,
        .skill5,
        .skill6 {
          height: min(6.6vw, 80px);
        }
        .point_box {
          display: none;
        }
        .dialog_text {
          width: initial;
          padding: min(0.83vw, 10px) min(2.5vw, 30px);
          font-size: min(1.4vw, 16px);
        }
        .break {
          display: block;
        }

        /* モーダル2 */
        .page_inner {
          display: flex;
          justify-content: space-between;
          width: min(80vw,950px);
          margin: 0 auto;
        }
        .click1,
        .click2 {
          width: min(8.3vw, 100px);
          height: min(6.6vw, 80px);
          top: -2vw;
          left: -2vw;
        }
        .page_box2 {
          margin: initial;
        }
        .page1,
        .page2 {
          width: min(29.1vw, 350px);
        }
        .page_title {
          margin: min(1.6vw, 20px) 0;
          font-size: min(2.5vw, 30px);
        }
        .page_text {
          width: min(23.3vw, 280px);
          padding: min(1.5vw, 18px) 0;
          font-size: min(1.5vw, 18px);
        }
        .line_break {
          display: block;
         }
        .githab {
          height: min(3.7vw, 45px);
          margin-bottom: min(2.5vw, 30px);
          padding: min(0.83vw, 10px) min(1.6vw, 20px);}

        /* モーダル3 */
        .close3 {
          width: min(4.1vw, 50px);
          height: min(4.1vw, 50px);
          top: 2vw;
          right: 2vw;
        }
        .click3 {
          width: min(8.3vw, 100px);
          height: min(6.6vw, 80px);
          top: -2vw;
          left: 0;
          z-index: 10;
        }
        .item2 {
          position: relative;
        }
        .inner_box {
          display: flex;
          justify-content: center;
        }
        .dialog3_inner {
          display: grid;
          grid-template-rows: 30vw 30vw;
          grid-template-columns: 50% 50%;
          padding-top: 5vw;
        }
        .dialog3_inner li {
          display: block;
        }
        .text_box {
          display: flex;
          justify-content: space-between;
          align-items: end;
          width: min(37.1vw, 630px);
          margin: 0 auto;
        }
        .dialog3_text {
          width: min(26vw, 320px);
          margin: initial;
          padding: min(0.8vw, 10px) 0;
          font-size: min(1.3vw, 16px);
        }
        .githab1 {
          width: min(7.9vw, 95px);
          height: min(3.7vw, 45px);
          margin-bottom: min(2.5vw, 30px);
          padding: min(0.83vw, 10px) min(1vw, 13px);
        }
        .button-prev,
        .button-next {
          display: none;
        }

        /* モーダル4 */
        .wrapper {
          min-height: 625px;
          height: min(58vw, 700px);
          padding: initial;
        }
        #product_slider li {
          flex: 0 0 33.33%; /* PC時は3枚表示 */
        }
        .product {
          position: absolute;
          width: min(12.5vw, 150px);
          top: 2.5vw;
          left: 2.5vw;
        }
        .close_box4 {
          position: absolute;
          margin: initial;
          height: min(5vw, 60px);
          top: min(2.5vw, 30px);
          right: min(2.5vw, 30px);
        }
        .close4 {
          width: min(4.1vw, 50px);
          height: min(4.1vw, 50px);
        }
        .swiper-container {
          margin-top: min(10.8vw, 130px);
        }
        .photo {
          padding: min(2.6vw, 30px) 0 0;
        }
        .swiper_item p {
          margin: min(3.3vw, 40px) 0;
        }
      }